@import url('about.css');

:root {
    --light-blue: #00A8FF;
    --neon-purple: #8A2BE2;
    --accent-color: #00FFD5;
    --background-navyblue: #0F172A;
    --text-light: #E0E0E0;
}
body {
    background-color: var(--neon-purple);
    color: var(--text-light);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}
header{
    color: var(--accent-color);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}

header p {
    color: var(--text-light);
    text-align: center;
    font-size: 1.5rem;
}

.about-container {
    background: linear-gradient(
        rgba(15, 23, 42, 0.6),
        rgba(15, 23, 42, 0.8)
    )
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.main-content section{
    flex: 1;
}
.main-content p{
    line-height: 1.6;
}
.main-content section p:last-child em {
    color: var(--neon-purple);
    margin-top:auto;
    text-align:center;
    padding-top: 20px;
}
.main-content section:last-child{
    display: flex;
    flex-direction: column;
}
.main-content h2{
    color:var(--light-blue);
    margin-top:0;
    margin-bottom: 15px;
}
.main-content section p,
.main-content section ul{
    margin-top:0;
    padding-top: 0;
}