:root {
    --light-blue: #00A8FF;
    --neon-purple: #8A2BE2;
    --accent-color: #00FFD5;
    --background-navyblue: #0F172A;
    --text-light: #E0E0E0;
}

/* Header */

header {
    width: 100%;
    background-color: var(--light-three);
    overflow: hidden;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

.nav-links ul {
    display: flex;
}

.nav-links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: red;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

/* End Header */